div.usig_acv
{
	font-family: Arial;
	font-size: 14px;
	position: absolute;
	background-image: url(img-pro/pointer.gif);
	background-position: top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
}

div.usig_acv div.header,
div.usig_acv div.footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-image: url(img-pro/ul_corner_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.usig_acv div.footer
{
	background-image: url(img-pro/ul_corner_br.gif);
}

div.usig_acv div.header div.corner,
div.usig_acv div.footer div.corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-image: url(img-pro/ul_corner_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
div.usig_acv div.footer div.corner
{
	background-image: url(img-pro/ul_corner_bl.gif);
}
div.usig_acv div.header div.bar,
div.usig_acv div.footer div.bar
{
	height: 6px;
	overflow: hidden;
	background-color: #e9e9e9;
}

div.usig_acv div.content
{
	padding: 5px 10px;
	color: #ffd300;
	background-color: #e9e9e9;
}

div.usig_acv ul.options
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #e9e9e9;
}

div.usig_acv ul.options li
{
	color: #666;
	padding: 0;
	text-align: left;
}
div.usig_acv ul.options li.message
{
	margin: 4px 0 4px;
	color: #ffd300;
}
div.usig_acv ul.options li a
{
	color: #666;
	display: block;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	padding: 0;
	width: 100%;
}
div.usig_acv ul.options li a:hover
{
	background-color: #fff;
}
div.usig_acv ul.options li.highlight a:hover
{
	background-color: #fff;
}

div.usig_acv ul.options li a span
{
	display: block;
	padding: 3px 6px 2px 6px;
	font-weight: normal;
}

div.usig_acv ul.options li a span small
{
	font-weight: normal;
	color: #666;
}

div.usig_acv ul.options li.highlight a span small
{
	color: #666;
}

div.usig_acv ul.options li.highlight a
{
	color: #666;
	background-color: #fff;
}

div.usig_acv ul.options li.highlight a span
{
}

div.usig_acv ul.options li a .tl,
div.usig_acv ul.options li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.usig_acv ul.options li a .tr
{
	right: 0;
}

div.usig_acv ul.options li.highlight a .tl
{
	left: 0;
}

div.usig_acv ul.options li.highlight a .tr
{
	right: 0;
}

div.usig_acv ul.options li.warning
{
	font-weight: bold;
	text-align: center;
}
div.usig_acv ul.options li span.clase {
	padding-left: 6px;
	font-size: xx-small;
}
div.usig_acv ul.options li span.clase em {
}
div.usig_acv ul.options em
{
	font-style: normal;
	color: #ffd300;
}

div.usig_acv div.content div.message
{
	color: #666;
	margin: 4px;
}
div.usig_acv div.content div.message ul {
	padding-left: 20px;
}
div.usig_acv div.content div.message ul li
{
	color: #007baf;
	margin: 0 4px 4px;
	font-size: 80%;
}
