div.usig_acv
{
	position: absolute;
	background-image: url(img-usig2/pointer.gif);
	background-position: 20px 0;
	background-repeat: no-repeat;
	padding: 9px 0 0 0;
	opacity: 0.95;
	filter: alpha(opacity=95);
	font-size: 8pt;
	font-weight: bold;
	color: #666;
}

div.usig_acv div.header,
div.usig_acv div.footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-image: url(img-usig2/ul_corner_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.usig_acv div.footer
{
	background-image: url(img-usig2/ul_corner_br.gif);
}

div.usig_acv div.header div.corner,
div.usig_acv div.footer div.corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-image: url(img-usig2/ul_corner_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
div.usig_acv div.footer div.corner
{
	background-image: url(img-usig2/ul_corner_bl.gif);
}
div.usig_acv div.header div.bar,
div.usig_acv div.footer div.bar
{
	height: 6px;
	overflow: hidden;
	background-color: #eff8fd;
	background-image: url(img-usig2/ul_bg_bot.gif);
	background-repeat: repeat-x;
}

div.usig_acv div.header div.bar {
	background-image: url(img-usig2/ul_bg_top.gif);
}

div.usig_acv div.content
{
	padding: 5px 10px;
	color: #007baf;
	background-color: #eff8fd;
//	background-color: #f8f8f8;
	border-left: 1px solid #0996d2;	
	border-right: 1px solid #0996d2;	
}

div.usig_acv ul.options
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #eff8fd;
	//background-color: #f8f8f8;
}
div.usig_acv ul.options li
{
	padding: 0;
	margin: 0 4px 4px;
	text-align: left;
}
div.usig_acv ul.options li.message
{
	color: #007baf;
}
div.usig_acv ul.options li a
{
	display: block;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	padding: 0;
	width: 100%;
	color: #666;
}
div.usig_acv ul.options li a:hover
{
	background-color: #b1ddf3;
	color: #333;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;	
}
div.usig_acv ul.options li.highlight a:hover
{
	background-color: #b1ddf3;
}
div.usig_acv ul.options li a:hover em {
}
div.usig_acv ul.options li a span
{
	display: block;
	padding: 3px 6px 2px 6px;
}

div.usig_acv ul.options li a span small
{
}

div.usig_acv ul.options li.highlight a span small
{
}

div.usig_acv ul.options li.highlight a
{
	background-color: #b1ddf3;
	color: #333;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;	
}

div.usig_acv ul.options li.highlight a span
{
}

div.usig_acv ul.options li a .tl,
div.usig_acv ul.options li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.usig_acv ul.options li a .tr
{
	right: 0;
}

div.usig_acv ul.options li.highlight a .tl
{
	left: 0;
}

div.usig_acv ul.options li.highlight a .tr
{
	right: 0;
}

div.usig_acv ul.options li.warning
{
	text-align: center;
}
div.usig_acv ul.options li span.clase {
	padding-left: 6px;
	font-size: xx-small;
	font-weight: normal;
	color: #555;
}
div.usig_acv ul.options li span.clase em {
}
div.usig_acv ul.options em
{
	font-style:normal;
	font-style: bold;
	color: #007baf;
}
div.usig_acv ul.options li.highlight em {
}
div.usig_acv div.content div.message
{
	color: #555;
	margin: 4px;
}
div.usig_acv div.content div.message ul {
	padding-top: 5px;
	padding-left: 20px;
}
div.usig_acv div.content div.message ul li
{
	color: #007baf;
	margin: 0 4px 4px;
	font-size: 80%;
}
div.usig_acv a.button {
	background: #b1ddf3;
	color: #006995;
	text-decoration: none;
	padding: 1px 6px !important;	
	position: relative;
	text-align: center;
	border: 1px solid #3aa4d2;	
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;	
}
div.usig_acv a.button:hover {
	background: #0996d2;	
	border: 1px solid #0996d2;
	color: #fff;
}
div.usig_acv p.msg {
	margin-bottom: 6px;
}